.round {
  border-radius: 50%;
}

.section-contact {
  width: 100%;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.342); */
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.411);
  /* background: rgba(255, 255, 255, 0.096); */
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.3rem);
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  display: none;
}
.contact-div {
  background-color: white;
  padding-bottom: 2rem;

  box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.276);
  margin-top: auto;
  margin-bottom: auto;
  bottom: -100%;
  transform: translateX(-50%);
  position: fixed;
  left: 50%;
  animation: slideUp 0.6s ease forwards;
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.student,
.student,
.student,
.student,
.student,
.student {
  position: relative;
}

.studenthover {
  animation: scaleUp 0.7s ease forwards;
}

#layer1,
#layer2,
#layer3,
#layer4,
#layer5,
#layer6 {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.557);
  z-index: 1;
  width: 100%;
  height: 100%;
  display: none;
  /* animation: scaleUp 1s ease forwards; */
}

.bottom {
  border-bottom: 4px solid white;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}

.hid {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s, transform 1.2s;
}

.reveal {
  opacity: 1;
  transform: translateY(0);
}

@keyframes slideUp {
  to {
    bottom: 0;
  }
}

#upload-file-container {
  position: relative;
}

#upload-file-container input {
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  top: 0;
}

.go-too {
  width: 50%;
  border: 2px solid #2f0468;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.div-container {
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.4rem);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.822);
  animation: slideIn 0.6s ease-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(20rem);
  }
  100% {
    transform: translateX(0);
  }
}

.container {
  /* max-width: 90%; */
  margin: auto;

  padding-left: 3px;
  padding-right: 3px;
}

.inner {
  padding: 1rem 0.8rem;
  border-radius: 30px;
}

.testiomonial-item {
  margin: auto;
  border-radius: 30px;

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}
/* .testiomonial-item:nth-child(1) {
    margin-bottom: 1rem;
  } */
.testiomonial-item:nth-child(2) {
  margin-bottom: 1rem;
}

.testiomonal .swiper-scrollbar {
  position: relative;
  margin-top: 37px;
  bottom: auto;
  display: flex;
  background: none;
  justify-content: center;
  align-items: center;
}
